
name: Flalk8-ISORT
on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
      - name: Install python
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
      - name: python-isort
        uses: isort/isort-action@v1
